body {
  margin: 0;
  padding: 0;
  /* background-color: var(--tg-theme-bg-color); */
  background-color: #0F172A;
}
h1, p {
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
  width: fit-content;
}

header h1 {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  /* color: var(--tg-theme-text-color); */
  color: #F1F5F9;
}

/* Cells */
section #game {
  width: fit-content;
  gap: 0.25rem;
  display: grid;
}
section #game .cell {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  /* color: var(--tg-theme-button-text-color); */
  color: #F1F5F9;
  /* background-color: var(--tg-theme-accent-text-color); */
  background-color: #1E293B;
  /* border: 0.1rem solid var(--tg-theme-accent-text-color); */
  border: 0.1rem solid #1E293B;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Info */
section .hint {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  display: flex;
}
section .hint p {
  padding: 0.5rem;
  /* color: var(--tg-theme-text-color); */
  color: #F1F5F9;
  /* background-color: var(--tg-theme-secondary-bg-color); */
  background-color: #1E293B;
  border-radius: 0.25rem;
}
section .hint p:first-of-type {
  margin-right: 0.5rem;
}

/* CheckBox */
section #mineTurn {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
  font-size: 1.1rem;
  /* color: var(--tg-theme-text-color); */
  color: #F1F5F9;
  display: flex;
  align-items: center;
}
section #mineTurn label {
  margin-left: 0.36rem;
}
input[type="checkbox"] {
  display: none;
}
.custom-checkbox {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  /* background-color: var(--tg-theme-subtitle-text-color); */
  background-color: #334155;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:checked + .custom-checkbox {
  /* background-color: var(--tg-theme-accent-text-color); */
  background-color: #F1F5F9;
}
.custom-checkbox::after {
  content: "";
  position: absolute;
  width: 0.35rem;
  height: 0.35rem;
  /* border: solid var(--tg-theme-secondary-bg-color); */
  border: solid #1E293B;
  border-width: 0 0.15rem 0.15rem 0;
  top: 0.2rem;
  left: 0.29rem;
  transform: rotate(45deg);
  display: none;
}
input[type="checkbox"]:checked + .custom-checkbox::after {
  display: block;
}

/* Delete */
.cc {
  width: 50px;
  height: 50px;
}
.c1 {
  background-color: var(--tg-theme-bg-color);
}
.c2 {
  background-color: var(--tg-theme-text-color);
}
.c3 {
  background-color: var(--tg-theme-hint-color);
}
.c4 {
  background-color: var(--tg-theme-link-color);
}
.c5 {
  background-color: var(--tg-theme-button-color);
}
.c6 {
  background-color: var(--tg-theme-button-text-color);
}
.c7 {
  background-color: var(--tg-theme-secondary-bg-color);
}
.c8 {
  background-color: var(--tg-theme-header-bg-color);
}
.c9 {
  background-color: var(--tg-theme-bottom-bar-bg-color);
}
.c10 {
  background-color: var(--tg-theme-accent-text-color);
}
.c11 {
  background-color: var(--tg-theme-section-bg-color);
}
.c12 {
  background-color: var(--tg-theme-section-header-text-color);
}
.c13 {
  background-color: var(--tg-theme-section-separator-color);
}
.c14 {
  background-color: var(--tg-theme-subtitle-text-color);
}
.c15 {
  background-color: var(--tg-theme-destructive-text-color);
}


:root {
  --tg-theme-bg-color: #eee;
  --tg-theme-subtitle-text-color: #696969;
  --tg-theme-accent-text-color: #02ab02;
  --tg-theme-button-color: #008000;
  --tg-theme-button-text-color: #eee;
  --tg-theme-secondary-bg-color: #191919;
  --tg-theme-text-color: #eee;
}
