body {
  background-color: var(--tg-theme-bg-color);
}

#game {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}
.cell {
  width: 30px;
  height: 30px;
  background-color: var(--tg-theme-secondary-bg-color);
  border: 10px solid var(--tg-theme-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
