body {
  background-color: var(--tg-theme-bg-color);
}

h1 {
  color: var(--tg-theme-text-color);
}

#game {
  width: fit-content;
  gap: 0.25rem;
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(9, minmax(0, 1fr));
}
.cell {
  width: 2rem;
  height: 2rem;
  background-color: var(--tg-theme-button-color);
  border: 0.1em solid var(--tg-theme-button-color);
  border-radius: 0.25rem;
  cursor: pointer;
}

.cc {
  width: 50px;
  height: 50px;
}
.c1 {
  background-color: var(--tg-theme-bg-color);
}
.c2 {
  background-color: var(--tg-theme-text-color);
}
.c3 {
  background-color: var(--tg-theme-hint-color);
}
.c4 {
  background-color: var(--tg-theme-link-color);
}
.c5 {
  background-color: var(--tg-theme-button-color);
}
.c6 {
  background-color: var(--tg-theme-button-text-color);
}
.c7 {
  background-color: var(--tg-theme-secondary-bg-color);
}
.c8 {
  background-color: var(--tg-theme-header-bg-color);
}
.c9 {
  background-color: var(--tg-theme-bottom-bar-bg-color);
}
.c10 {
  background-color: var(--tg-theme-accent-text-color);
}
.c11 {
  background-color: var(--tg-theme-section-bg-color);
}
.c12 {
  background-color: var(--tg-theme-section-header-text-color);
}
.c13 {
  background-color: var(--tg-theme-section-separator-color);
}
.c14 {
  background-color: var(--tg-theme-subtitle-text-color);
}
.c15 {
  background-color: var(--tg-theme-destructive-text-color);
}
